<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <%= page_title(title: 'New Unit', subtitle: 'Add your units') %>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @unit, url: create_unit_path(params[:year])) do |form| %>

          <div class="form-group">
            <label>Title:</label><span class="font-red">*</span>
            <%= form.text_field :unit, class: 'form-control', placeholder: 'i.e. Statistical Analysis', required: true %>
          </div>

          <div class="form-group">
            <label>Description:</label><span class="font-red">*</span>
            <%= form.text_area :description, class: 'form-control', rows: 5, placeholder: 'Type here...', required: true %>
          </div>

          <div class="form-group">
            <label>Grade:</label><span class="font-red">*</span>
            <%= form.text_field :grade, class: 'form-control', placeholder: 'i.e. FIRST, 2:1 etc...', required: true %>
          </div>

          <%= form.submit 'submit', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>