<section class="experience-section section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="heading">
          <h3>Experience</h3>
          <h6 class="font-lite-black">highlights</h6>
          <%= link_to 'new', new_highlight_path, class: 'focused-link' %>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="experience-wrapper">
          <% @highlights.each do |highlight| %>
            <%= render 'backend/highlights/highlight', highlight: highlight%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>