<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <%= page_title(title: 'New Highlight') %>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @highlight, url: create_highlight_path) do |form| %>

          <div class="form-group">
            <label>Job Title / Qualificiation:</label><span class="font-red">*</span>
            <%= form.text_field :title, class: 'form-control', placeholder: 'Accountant or Bachelors Degree', required: true %>
          </div>

          <div class="form-group">
            <label>Organisation:</label><span class="font-red">*</span>
            <%= form.text_field :organisation, class: 'form-control', placeholder: 'Smith & Sons or Exeter University', required: true %>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Start Date</label><span class="font-red">*</span>
              <%= form.text_field :start_date, type: 'date', class: 'form-control', required: true%>
            </div>

            <div class="form-group col-md-6">
              <label>End Date (or leave blank)</label>
              <%= form.text_field :end_date, type: 'date', class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label>Description:</label><span class="font-red">*</span>
            <%= form.text_area :description, class: 'form-control', placeholder: 'Type here...', rows: 4, required: true %>
          </div>

          <div class="form-group">
            <label>URL: (optional)</label>
            <%= form.text_field :url, class: 'form-control', placeholder: 'http://url/page' %>
          </div>

          <%= form.submit 'submit', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>