<section class="experience-section section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="heading">
          <h3>Profile</h3>
          <h6 class="font-lite-black">Change up the intro</h6>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="experience-wrapper">
          <% @info.each do |info| %>
            <p><%= "#{info.entity}: #{info.text_value}"%> <%= link_to 'edit', edit_info_path(info), class: 'focused-link' %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="heading">
          <h3>Social Icons</h3>
          <h6 class="font-lite-black">Edit Social links</h6>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="experience-wrapper">
          <%= link_to 'Add Social Link', new_social_path, class: 'focused-link' %>
          <%= render 'backend/intro/social/table' %>
        </div>
      </div>
    </div>
  </div>
</section>