<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <%= page_title(title: 'Update Intro Item', subtitle: 'Update intro information') %>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @info, url: update_info_path) do |form| %>

          <div class="form-group">
            <label>Entity:</label><span class="font-red">*</span>
            <%= form.text_field :entity, class: 'form-control', placeholder: 'Name', required: true, disabled: true %>
          </div>

          <div class="form-group">
            <label>Display:</label><span class="font-red">*</span>
            <%= form.text_field :text_value, class: 'form-control', placeholder: 'John Smith', required: true %>
          </div>

          <%= form.submit 'submit', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>