<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <%= page_title(title: 'Update Qualification', subtitle: 'Update qualification details') %>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @qualification, url: update_qualification_path) do |form| %>

          <div class="form-group">
            <label>Qualificiation Title:</label><span class="font-red">*</span>
            <%= form.text_field :title, class: 'form-control', placeholder: 'i.e. Bachelors Degree', required: true %>
          </div>

          <div class="form-group">
            <label>Organisation:</label><span class="font-red">*</span>
            <%= form.text_field :organisation, class: 'form-control', placeholder: 'i.e. Exeter University', required: true %>
          </div>

          <%= form.submit 'update', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>