<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <%= page_title(title: 'Update Academic Year', subtitle: 'Change the details') %>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @year, url: update_year_path) do |form| %>

          <div class="form-group">
            <label>Title:</label><span class="font-red">*</span>
            <%= form.text_field :title, class: 'form-control', placeholder: 'i.e. First Year, Second Year etc...', required: true %>
          </div>

          <div class="form-group">
            <label>Overall Grade:</label><span class="font-red">*</span>
            <%= form.text_field :grade, class: 'form-control', placeholder: 'i.e. FIRST, 2:1 etc...', required: true %>
          </div>

          <%= form.submit 'update', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>