<table class="table">
  <thead>
    <tr>
      <th scope="col">Entity</th>
      <th scope="col" colspan=2>Icon</th>
      <th scope="col">Url</th>
      <th scope="col" colspan=2>Manage</th>
    </tr>
  </thead>

  <tbody>
   <% @socials.each do |social| %>
    <tr>
      <td><%= social.entity %></td>
      <td><i class="<%= social.icon %>"></td>
      <td><%= social.icon %></i></td>
      <td><%= social.url %></td>
      <td><%= link_to 'edit', edit_social_path(social), class: 'focused-link' %></td>
      <td><%= link_to 'remove', delete_social_path(social), method: :delete, class: 'focused-link-danger', data: { confirm: 'Are you sure? This action can not be undone.' }%></td>
    </tr>
   <% end %>
  </tbody>
</table>