<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <%= page_title(title: 'Edit Social Icon', subtitle: 'Add links with fa icons.') %>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @social, url: create_social_path) do |form| %>

          <div class="form-group">
            <label>Entity:</label><span class="font-red">*</span>
            <%= form.text_field :entity, class: 'form-control', placeholder: 'LinkedIn', required: true %>
          </div>

          <div class="form-group">
            <label>Icon:</label><span class="font-red">*</span>
            <%= form.text_field :icon, class: 'form-control', placeholder: 'fa fa-linkedin', required: true %>
          </div>

          <p>For help choosing a social icon please head to: <a href="https://fontawesome.com/icons?d=gallery" target="_blank">fontawesome.com</a></p>
          <hr>

          <div class="form-group">
            <label>URL:</label><span class="font-red">*</span>
            <%= form.text_field :url, class: 'form-control', placeholder: 'https://yourlinkedinurl.co.uk', required: true %>
          </div>

          <%= form.submit 'submit', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>