<footer>
	<div class="footer-links">
		<%= link_to 'EDUCATION', education_path, class: active_link?('education') %>
		<small>/</small>

		<%= link_to 'HOME', root_path, class: active_home? %>
	</div>
</footer>