<div class="experience margin-b-50">
  <h4><%= highlight.title %></h4>
  <h5><%= highlight.organisation %></h5>
  <h6 class="font-lite-black margin-t-10"><%= duration_for(highlight) %></h6>
  <p class="margin-tb-10"><%= highlight.description %></p>
  <%= link_to 'more info', highlight.url, class: 'focused-link' unless highlight.url.empty? %>
</div>