<section class="experience-section section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <%= page_title(title: 'Experience', subtitle: 'highlights') %>
      </div>

      <div class="col-lg-8">
        <div class="experience-wrapper">
          <% @highlights.each do |highlight| %>
            <%= render 'frontend/highlights/highlight', highlight: highlight%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>