<section class="experience-section section">
  <div class="container">
    <%= link_to 'new qualification', new_qualification_path, class: 'focused-link' %>
    <hr>

    <div class="row">
      <% @qualifications.each do |qualification| %>
        <div class="col-lg-4">
          <div class="heading">
            <h3><%= qualification.title %></h3>
            <h6 class="font-lite-black"><%= qualification.organisation %></h6>
            <%= link_to 'edit details', show_qualification_path(qualification), class: 'focused-link' %>
          </div>
        </div>

        <div class="col-lg-8">
          <% qualification.years.each do |year| %>
            <div class="experience margin-b-50">
              <h4><%= year.title %><small class="font-blue"> <%= year.grade %></small></h4>
              <% year.units.each do |unit| %>
                <h5><%= unit.unit %><small class="font-lightblue"> <%= unit.grade %></small></h5>
                <p class="margin-tb-10"><%= unit.description %></p>
                <hr>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>