@import "variables";

@media (min-width: 320px) and (max-width: 1025px) {
  .heading, h3 {
    font-size: 34px !important;
  }

  .badge, .experience .focused-link, .experience h5, .experience .font-lite-black {
    font-size: 28px !important;
  }

  .project-title, .margin-tb-10, .experience h4, .experience h5 {
    font-size: 32px !important;
  }

  .badge {
    margin: 5px !important;
  }

  .project-title {
    font-size: 72px !important;
  }

  .project-link {
    font-size: 66px !important;
    padding: 1rem;
  }
}