@import "bootstrap";
@import "ionicons";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

$primary-color: #F76028;
$primary-color-light: #e28766;

$campbell-green: #00dd12;
$campbell-lightgreen: #71e07b;

$campbell-orange: #dd6300;
$campbell-lightorange: #df975d;

$campbell-red: #ff0101;
$campbell-lightred: #fa9e9e;

$campbell-silver: #c0c0c0;

$darkmode-background: #2A2A2A;