<footer>
	<div class="footer-links">
		<p id="notice"><%= notice %></p>
		<p id="alert"><%= alert %></p>
		<%= link_to 'EDUCATION', backend_education_path, class: active_link?('education') %>
		<small>/</small>

		<%= link_to 'HOME', backend_path, class: active_home? %>
    <small>/</small>

		<%= link_to 'PROFILE', profile_path, class: active_link?('profile') %>
		<small>/</small>

    <%= link_to 'PRODUCTION', root_path %>
	</div>
</footer>