<section class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-lg-2"></div>

      <div class="col-md-10 col-lg-8">
        <div class="intro">
          <div class="profile-img"></div>
          <h2 class="name"><%= name %></h2>
          <h4 class="font-blue position"><%= position %></h4>
          <h4 class="font-red position">BACKEND MODE <%= version %></h4>

          <%= render 'frontend/intro/icons' %>
        </div>
      </div>
    </div>
  </div>
</section>