<!DOCTYPE html>
<html>
  <head>
    <title>Donato De Nicola Backend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('logo.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'backend/components/intro' %>
    <%= yield %>
    <%= render 'backend/components/footer' %>
  </body>
</html>
